@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16863760');
  src: url('../font/fontello.eot?16863760#iefix') format('embedded-opentype'), url('../font/fontello.woff2?16863760') format('woff2'), url('../font/fontello.woff?16863760') format('woff'), url('../font/fontello.ttf?16863760') format('truetype'), url('../font/fontello.svg?16863760#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16863760#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
  content: '\e800';
}


/* '' */

.icon-phone:before {
  content: '\e801';
  font-size: 4rem;
}


/* '' */

.icon-cancel-circle:before {
  content: '\e802';
}


/* '' */

.icon-up-circle:before {
  content: '\e803';
}


/* '' */

.icon-email:before {
  content: '\e804';
}


/* '' */

.icon-ok-circle:before {
  content: '\e805';
}


/* '' */

.icon-linkedin:before {
  content: '\f0e1';
  font-size: 3rem;
}


/* '' */

.icon-gamepad:before {
  content: '\f11b';
  font-size: 4rem;
}



/* '' */

.icon-bitbucket:before {
  content: '\f171';
  font-size: 4rem;
}


/* '' */

.icon-soccer-ball:before {
  content: '\f1e3';
  font-size: 3rem;
}

/* '' */

.icon-linkedin-squared:before {
  content: '\f30c';
  font-size: 4rem;
}


/* '' */

.icon-linkedin-1:before {
  content: '\f318';
  font-size: 3rem;
}


/* '' */

.icon-linkedin-circled:before {
  content: '\f319';
}


/* '' */