*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

.main-header {
    max-width: 1200px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.header-first{
    font-size: 2.8rem;
    padding: 1.5rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
}


/* First Column */

.first {
    background-color: #374671;
    color: #ffffff;
    border-bottom: 1px solid #000000;
}

.first .header-second {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 2.4rem;
}

.photo {
    align-self: center;
    width: inherit;
    padding-top: 1.5rem;
    cursor: pointer;
}

.para--info{
   font-size: 1.8rem;
}

.para--target {
    font-size: 2.4rem;
}

.first .header-third{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.skills-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
    padding-right: 1.5rem;
}

.skill-para {
    margin: 0 .5rem 0 auto;
    color: #000000;
    opacity: 0;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.skills-table-row {
    opacity: 0.7;
}

.skills-table-row:hover {
    opacity: 1;
}

.skills-table-row:hover .skill-para {
    opacity: 1;
}

.skills-table-cell {
    width: 90%;
    height: 40px;
}

.skills-table-cell:first-child {
    width: 10%;
}

.skills-table-cell {
    text-align: center;
}

.skill-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin: 2px auto;
}

.skill-bar-img {
    height: 40px;
    padding-right: .5rem;
}

.skill-tool-img {
    height: 40px;
}

.tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0; 
    height: 40px;
}

.tool-para {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    align-items: center;
    padding-left: 1.5rem;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0; 
    height: 40px;
}

.tool:hover
{
    animation: tools .5s;
}

.skill-language-img{
    height: 40px;
}

.hobby{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0; 
    height: 40px;
}

.hobby:hover .icon-gamepad {
    color: #1aaa15;
  }

.hobby-img--real{
    height: 40px;
    filter: grayscale(100%);
}

.hobby:hover .hobby-img--real{
    filter: grayscale(0%);
}

.hobby-img{
    height: 40px;
}

.hobby:hover .hobby-img{
    filter: invert(100%);
}

/* Second Column */
.second{
    border-bottom: 1px solid #000000;
}
.second .header-second {
    margin: 5rem 0 2rem 5rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.company-images {
    display: flex;
    justify-content: center;
}

.company-img {
    height: 40px;
    max-width: 100%;
    padding-left: 1.5rem;
}

.second .header-third{
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

/* Experience */
.date{
    font-size: 1.6rem;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
}

.responsibilities {
    padding-left: 2rem;
    list-style: none;
}

.duty {
    margin-bottom: .5rem;
    position: relative;
    font-size: 1.8rem;
}

.duty:before {
    content: '';
    background-image: url('../img/adsira_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: .5rem;
    left: -2rem;
    height: 1em;
    width: 1em;
}
 
.para--description{
    font-size: 1.8rem;
}

.university{
    align-items: center; 
}
/* Contact */

.contact-items{
    margin: 2rem 0;
}
.contact-item{
    display: flex;
    justify-content: center;
    color: #525252;
}
.icons{
    animation: Contact 4s infinite;
}
.phone:hover{
    color: #008a29;
    animation-play-state:paused;
}
.linkedin:hover{
    color: #0077B5;
    animation-play-state:paused;
}
.git:hover{
    color: #205081;
    animation-play-state:paused;
}
.contact-text{
    font-size: 1.6rem;
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
}

.form{
    padding-top: 2rem;
}

.form-input{
    width: 100%;
    height: 40px;
    margin: 1rem 0;
    padding-left: 1rem;
    font-size: 1.6rem;
}

.form-message{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    height: 25rem;
}

.alert{
    color: #f00f0f;
    font-size: 1.6rem;
}

.alert--message, .alert--captcha{
    margin-bottom: 2rem;
}

.submits{
    display: flex;
    flex-direction: row;
}

.g-recaptcha {
    padding-left: 1.5rem; 
    transform:scale(0.90);
    transform-origin:0 0;
    display: flex;
}

.green-button{
	background-color: #36b03c;
	font-size: 2rem;
	color:white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
    outline:none;
    float: right;
    height: 70.2px;
    width: 266.4px;
    margin-right: 1.5rem;
}

.green-button:focus
{
	box-shadow: 0 0 1.5rem .5rem rgba(204,204,204,0.9);
}

.green-button:hover
{
    background-color: #37b93d;
    box-shadow: 0 0 1.5rem .5rem rgba(204,204,204,0.9);
}

.input--green
{
    background-color: #43f77932;
}

.input--red
{
    background-color: #f7434332;
}

.thanks{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.thanks .header-second{
    margin:1.5rem 0;
}
.thanks .green-button{
    margin:1.5rem 0 3rem 0;
}

/* footer */

.footer{
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
}

/* media queries */

@media (max-width:992px){
    .first, .second{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .skills-table-row, .skill-para {
        opacity: 1;
    }
    .hobby-img--real{
        filter: grayscale(0%);
    }
    .phone{
        color: #008a29;
    }
    .linkedin{
        color: #0077B5;
    }
    .git{
        color: #205081;
    }
    
}

@media (max-width:768px){
    .green-button{
        padding: 0;
    }
}

@media (max-width:576px){
    .green-button{
        margin: 2rem 1.5rem 1rem 1.5rem;
        padding: 0;
    }
    .g-recaptcha {
        transform:scale(1);
    }
}

/* Animations */

@keyframes Contact {
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
.skill--HTML {
    width: 50%;
    animation: Animate-HTML 4s;
    height: 100%;
    background-color: #e44d26;
}

@keyframes Animate-HTML {
    from {
        width: 0;
    }
    to {
        width: 50%
    }
}

.skill--CSS {
    width: 40%;
    animation: Animate-CSS 4s;
    height: 100%;
    background-color: #264de4;
}

@keyframes Animate-CSS {
    from {
        width: 0;
    }
    to {
        width: 40%
    }
}

.skill--Bootstrap {
    width: 30%;
    animation: Animate-Bootstrap 4s;
    height: 100%;
    background-color: #482148;
}

@keyframes Animate-Bootstrap {
    from {
        width: 0;
    }
    to {
        width: 30%
    }
}

.skill--JavaScript {
    width: 40%;
    animation: Animate-JavaScript 4s;
    height: 100%;
    background-color: #e5a228;
}

@keyframes Animate-JavaScript {
    from {
        width: 0;
    }
    to {
        width: 40%
    }
}

.skill--jQuery {
    width: 50%;
    animation: Animate-jQuery 4s;
    height: 100%;
    background-color: #193556;
}

@keyframes Animate-jQuery {
    from {
        width: 0;
    }
    to {
        width: 50%
    }
}

.skill--PHP {
    width: 20%;
    animation: Animate-PHP 4s;
    height: 100%;
    background-color: #777bb3;
}

@keyframes Animate-PHP {
    from {
        width: 0;
    }
    to {
        width: 20%
    }
}

.skill--CodeIgniter {
    width: 20%;
    animation: Animate-CodeIgniter 4s;
    height: 100%;
    background-color: #e55204;
}

@keyframes Animate-CodeIgniter {
    from {
        width: 0;
    }
    to {
        width: 20%
    }
}

.skill--WordPress {
    width: 40%;
    animation: Animate-WordPress 4s;
    height: 100%;
    background-color: #21759b;
}

@keyframes Animate-WordPress {
    from {
        width: 0;
    }
    to {
        width: 40%
    }
}

.skill--MySQL {
    width: 50%;
    animation: Animate-MySQL 4s;
    height: 100%;
    background-color: #00618a;
}

@keyframes Animate-MySQL {
    from {
        width: 0;
    }
    to {
        width: 50%
    }
}

@keyframes tools {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes Contact {
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}